:root {
    --black: black; 
    --white: white;
    --red: #f41313;
 }
 * {
     font-family: Verdana sans-serif;
     color: var(--white);
 }
 
 body {
     background-color: var(--black);
 }

 /*----------Navbar Styling-----------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    font-size: larger;
    left: 1100px;
    bottom: 120px;
    width: fit-content;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    background-color: var(--red);
    margin: 14px 16px;
    border-radius: 5px;
    padding: 14px 16px;
    text-decoration: none;
  }

 /*----------Forms-----------*/
  input {
    color: black;
  }

  /*----------Login Form-----------*/
  #form_login {
    height: fit-content;
    width: 30%;
    background-color: black; 
    padding: 5%; 
    margin: 0 auto; 
    box-sizing: border-box;
    position: relative;
    bottom: 150px;
    left: 5%;
}

#form_login label{
  color: white;
}

#form_login input {
  display: block;
}

#btn_login {
  position: relative;
  margin: 10px;
  padding: 5px;
  left: 15%;
}
